block content
  div(style="text-align:center; background-color:lightgray; height:100%; padding-top:100px;")
    div(style="width:450px; margin-right:auto; margin-left:auto; background-color:black; color:#fff;")
        div(style="padding:20px; text-align:left") 
            img(src="https://dancocoin.io/logos.png",width="200")
    div(style="font-family:arial,tahoma,Ubuntu;width:450px; padding-top:30px; margin-right:auto; margin-left:auto; background-color:lightblue;")
        h4() #{name} Confrim Code to DancoCoin Froum 
        p(style="margin-bottom:30px;") Your Confrim Code is : #{code}
            div(style="margin-bottom:30px;")
        
        div( style="background-color:darkred;") 
             p(style="padding:20px; color:#fff;") 
                | Confirm code expired after 30 minutes . 
                br 
                |  Do not reply to this email
              

    div()
        p()
            i() by thanks for subscript  
                a( href="https://froum.dancocoin.io") https://froum.dancocoin.io
        
