extends layout

block content
  div(style="text-align:center")
    h2  Power Planet Programming Team
      small 1.8
    p
      a(href='https://powerplanet.tech',style="color:black; text-decoration:none;") Powered By Power Planet  Team
    small
      a(style="color:#333") Creator: E.P
        p 2020-2022
